.profile-container {
    position: fixed;
    padding: 2rem;
    border-left: 2px outset #333;
    box-shadow: -5px 0 10px 0 rgba(119, 119, 119, 0.5);
    height: 100vh;
    top: 0;
    right: 0;
    width: 25rem;
}

.profile-data {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.about-app {
    border-top: 2px outset #333;
}
